<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>

<div class="container">
    <div class="login-card">
        <h2>Here you can Login</h2>
        <p>Let’s join us :)</p>

        <select id="role">
            <option value="student">Student</option>
            <option value="teacher">Teacher</option>
        </select>

        <input type="text" id="username" placeholder="Username">
        <input type="password" id="password" placeholder="Password">

        <button onclick="login()">LOGIN</button>
    </div>
</div>

<script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
