body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #eae6ff, #f5f3ff);
}

.dashboard {
  max-width: 1100px;
  margin: 40px auto;
  background: white;
  border-radius: 18px;
  padding: 25px 30px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.1);
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h2 {
  color: #3c2f80;
}

.header input {
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 220px;
}

/* TABLE */
.table-card {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #f3f1ff;
}

th, td {
  padding: 14px 16px;
  text-align: left;
}

th {
  color: #4b3fbf;
  font-size: 14px;
}

tbody tr {
  border-bottom: 1px solid #eee;
}

tbody tr:hover {
  background: #f8f7ff;
}

/* STATUS */
.pass {
  color: green;
  font-weight: 600;
}

.fail {
  color: red;
  font-weight: 600;
}
